<h2><center> Welcome To Hackerette News </center></h2>
   <p><center> Please Sign In: </center></p>
      <br>
        <br>

<div class="container">
  <form method="post" action="/posts">
    <h3><center>Login </center></h3>
      <br>
    <label><center>username:<center></label>
    <center><input type="username" name="user[username]" type="text" placeholder="username"></center>
    <label><center>password:<center></label>
    <center><input type="password" name="user[password]" type="password" placeholder="password">
      <br><center>
    <input type="submit" value="login"></center>
  </form>

