  <h5>Hackerette News!</h5>
    <h5>Sign-up</h5>
  <br>
  <form method="post" action="/signup">
    <label><center>username:</label>
    <input type="username" name="user[username]" type="text" placeholder="username"><br>
    <label><center>password:</label>
    <input type="password" name="user[password]" type="password" placeholder="password">
    <br>
      <br>
    <input type="submit" value="Click To Sign-up">
  </form>
</div>
