
  <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="brandname"><a href="news">Hackerette News</a></td></b><br>
     <a href="/posts">All</a> | <a href="/show">Comments</a> | <a href="/posts/show">Show Your Posts</a> | <a href="/users">Submit A Post</a> | <a href="/login">Login</a> | <a href="/signup">SignUp</a>
    </span></td>
   <ol type="1">
    <%@posts.each do |post|%>
      <li> <a href="/posts/<%=post.id%>"><%=post.title%></a></li>
      <% end %>
    </ol>





